.example {
    display: flex;
    justify-content: center;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.wrap .arrival-date {
  width: 90%;
  margin-right: 18px;
}
textarea { resize: vertical; }
.k-form { width: 400px; }