<div class="row">
  <div class="col-md-12">
    <div class="block full">
      <div class="block-title">
        <h2>Products List ({{(gridData.data || []).length}})</h2>
        <button type="button" class="btn btn-primary pull-right" (click)="productForm()">Add a new product
        </button>
      </div>

      <div class="table-responsive">
        <kendo-grid [data]="gridData.data || []" [skip]="gridView.skip" [pageSize]="gridView.pageSize"
          [sortable]="gridView.sortable" [sort]="sort" [height]="gridView.height" (sortChange)="sortChange($event)"
          [filterable]="true">

          <kendo-grid-column field="name" title="Name" [width]="220" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.name }}</div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="category.name" title="Category" [width]="220" [filterable]="false">
          </kendo-grid-column>


          <kendo-grid-column field="status" title="Status" [width]="100" [class]="{'text-center': true}"
            [resizable]="false" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="customer-name">{{ dataItem.status }}</div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="price" title="Price" [width]="100" [class]="{'text-center': true}"
            [resizable]="false" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              ${{ dataItem.price }}
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-command-column title="Command" [width]="100" [class]="{'text-center': true}" [resizable]="false">
            <ng-template kendoGridHeaderTemplate let-dataItem>
              <i class="fa fa-bolt"></i>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <a tooltip="Send for approval" placement="top" class="btn btn-effect-ripple btn-xs btn-pink"
                (click)="sendForApproval(dataItem)"
                *ngIf="dataItem.status == 'CREATED' || dataItem.status == 'UPDATED'">
                send for approval
              </a>

              <a tooltip="Edit product" placement="top" class="btn btn-effect-ripple btn-xs btn-primary"
                (click)="clone(dataItem)">
                Clone product
              </a>

              <a tooltip="Edit product" placement="top" class="btn btn-effect-ripple btn-xs btn-warning"
                (click)="productForm(dataItem)">
                Edit
              </a>

              <a tooltip="Delete product" placement="top" class="btn btn-effect-ripple btn-xs btn-red"
                (click)="deleteProduct(dataItem)">
                Delete
              </a>
            </ng-template>
          </kendo-grid-command-column>

        </kendo-grid>
        <pagination [totalItems]="gridData.totalPages * gridData.itemsPerPage" align="center"
          [itemsPerPage]="gridData.itemsPerPage" [maxSize]="10" (pageChanged)="loadProducts($event.page)">
        </pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #form let-c="close">
  <div class="modal-header">
    <h2 class="modal-title" *ngIf="product._id"> Add a new product</h2>
    <h2 class="modal-title" *ngIf="!product._id"> Edit product</h2>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-product-form [product]="product"></app-product-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="close()">Close</button>
  </div>
</ng-template>